// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;

	transition: border-color 0.2s, background-color 0.2s, color 0.2s, box-shadow 0.2s;

	border: $border-1 solid $color-primary-600;
	border-radius: $border-radius-rounded;
	padding: $spacing-3 $spacing-4;

	background-color: $color-primary-600;
	cursor: pointer;
	user-select: none;

	font-size: $font-size-1;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: $letter-spacing-open;
	color: $color-light;

	&:focus,
	&:hover {
		box-shadow: $shadow-elevation-2;
		outline: 0;
		border-color: $color-primary-700;

		background-color: $color-primary-700;
	}

	&:active {
		box-shadow: none;
	}

	&[disabled] {
		opacity: 0.3;

		cursor: default;
		pointer-events: none;

		&:focus,
		&:hover {
			border-color: $color-grayscale-400;

			background-color: $color-grayscale-400;
		}
	}

	&.-outline {
		background-color: transparent;

		color: $color-primary-600;

		&:focus,
		&:hover {
			box-shadow: none;
			border-color: $color-primary-400;

			background-color: transparent;

			color: $color-primary-400;
		}

		&:active {
			border-color: $color-primary-700;

			color: $color-primary-700;
		}

		&[disabled] {
			&:focus,
			&:hover {
				border-color: inherit;

				color: $color-grayscale-400;
			}
		}
	}

	&.-clear {
		box-shadow: none;
		border-color: transparent;

		background-color: transparent;

		color: $color-primary-600;

		&:focus,
		&:hover {
			border-color: transparent;

			background-color: rgba($color-primary-500, $opacity-1);

			color: $color-primary-400;
		}

		&:active {
			color: $color-primary-700;
		}

		&[disabled] {
			&:focus,
			&:hover {
				color: $color-grayscale-400;
			}
		}
	}
}
