// Close
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.close {
    position: relative;

    border-radius: $border-radius-round;
    width: $size-5;
    height: $size-5;

    &:hover {
        background-color: rgba($color-dark, $opacity-2);
    }

    &:active {
        background-color: rgba($color-dark, $opacity-4);
    }

    &::after {
        content: "x";

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);

        font-size: $font-size-4;
        font-weight: $font-weight-normal;
        color: $color-grayscale-800;
    }

    &.-invert::after {
        color: $color-grayscale-200;
    }
}