// Modal
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.modal {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba($color-dark, $opacity-6);

    &.-show {
        display: block;

        & > .modal-frame {
            display: block;

            animation: modal 1s;
        }
    }

    & .modal-frame {
        z-index: 1001;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        overflow: hidden;

        display: none;

        box-shadow: $shadow-elevation-1;
        border-radius: $border-radius-rounded;
        width: 80%;
        max-width: $size-14;

        background-color: $color-grayscale-200;

        & .modal-header {
            justify-content: space-between;
            align-content: center;

            display: flex;

            padding: $size-5;

            background-color: $color-grayscale-500;

            font-size: $font-size-6;
            font-weight: $font-weight-normal;

        }

        & .modal-body {
            padding: $size-5;
        }
    }
}