// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––

dd,
dt,
li {
	margin-bottom: $spacing-3;
}

fieldset,
select,
textarea {
	margin-bottom: $spacing-4;
}

blockquote,
dl,
figure,
ol,
p,
pre,
table,
ul {
	margin-bottom: $spacing-6;
}
