// Breakpoint - Module
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$breakpoint-tablet:         40rem !default;
$breakpoint-laptop:         80rem !default;
$breakpoint-desktop:        120rem !default;