// Color - Module
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// All shades and base colors MUST be hand picked

// Primary - Topic
// –––––––––––––––

// Base
$color-primary-base:                hsl(264, 81%, 50%) !default;

// Shades
$color-primary-100:                 hsl(264, 100%, 83%) !default;
$color-primary-200:                 hsl(264, 91%, 70%) !default;
$color-primary-300:                 hsl(264, 91%, 63%) !default;
$color-primary-400:                 hsl(264, 85%, 55%) !default;
$color-primary-500:                 $color-primary-base !default;
$color-primary-600:                 hsl(264, 85%, 46%) !default;
$color-primary-700:                 hsl(264, 92%, 36%) !default;
$color-primary-800:                 hsl(264, 95%, 25%) !default;
$color-primary-900:                 hsl(264, 100%, 11%) !default;

// Secondary ( Optional ) - Topic
// ––––––––––––––––––––––––––––––

// Base
$color-secondary-base:              hsl(275, 50%, 50%) !default;

// Shades
$color-secondary-100:               hsl(275, 100%, 72%) !default;
$color-secondary-200:               hsl(275, 89%, 65%) !default;
$color-secondary-300:               hsl(275, 62%, 58%) !default;
$color-secondary-400:               hsl(275, 51%, 51%) !default;
$color-secondary-500:               $color-secondary-base !default;
$color-secondary-600:               hsl(275, 54%, 40%) !default;
$color-secondary-700:               hsl(275, 61%, 26%) !default;
$color-secondary-800:               hsl(274, 69%, 17%) !default;
$color-secondary-900:               hsl(275, 91%, 13%) !default;

// Grayscale - Topic
// –––––––––––––––––––

// Base
$color-grayscale-base:              hsl(210, 11%, 71%) !default;

$color-light:                       hsl(0, 0%, 98%) !default;
$color-grayscale-100:               hsl(210, 17%, 98%) !default;
$color-grayscale-200:               hsl(210, 16%, 93%) !default;
$color-grayscale-300:               hsl(210, 14%, 89%) !default;
$color-grayscale-400:               hsl(210, 14%, 83%) !default;
$color-grayscale-500:               $color-grayscale-base !default;
$color-grayscale-600:               hsl(208, 7%, 46%) !default;
$color-grayscale-700:               hsl(210, 9%, 31%) !default;
$color-grayscale-800:               hsl(210, 10%, 23%) !default;
$color-grayscale-900:               hsl(210, 11%, 15%) !default;
$color-dark:                        hsl(0, 0%, 12%) !default;

// Accent - Topic
// –––––––––––––––––––

// Highlight base
$color-highlight-base:              hsl(160, 50%, 50%) !default;

// Highlight shades
$color-highlight-100:               hsl(160, 50%, 50%) !default;
$color-highlight-200:               hsl(160, 50%, 50%) !default;
$color-highlight-300:               hsl(160, 50%, 50%) !default;
$color-highlight-400:               hsl(160, 50%, 50%) !default;
$color-highlight-500:               $color-highlight-base !default;
$color-highlight-600:               hsl(160, 50%, 50%) !default;
$color-highlight-700:               hsl(160, 50%, 50%) !default;
$color-highlight-800:               hsl(160, 50%, 50%) !default;
$color-highlight-900:               hsl(160, 50%, 50%) !default;


// Positive base
$color-positive-base:               hsl(115, 50%, 50%) !default;

// Positive shades
$color-positive-100:                hsl(115, 50%, 50%) !default;
$color-positive-200:                hsl(115, 50%, 50%) !default;
$color-positive-300:                hsl(115, 50%, 50%) !default;
$color-positive-400:                hsl(115, 50%, 50%) !default;
$color-positive-500:                $color-positive-base !default;
$color-positive-600:                hsl(115, 50%, 50%) !default;
$color-positive-700:                hsl(115, 50%, 50%) !default;
$color-positive-800:                hsl(115, 50%, 50%) !default;
$color-positive-900:                hsl(115, 50%, 50%) !default;


// Warning base
$color-warning-base:                hsl(59, 92%, 48%) !default;

// Warning shades
$color-warning-100:                 hsl(59, 92%, 48%) !default;
$color-warning-200:                 hsl(59, 92%, 48%) !default;
$color-warning-300:                 hsl(59, 92%, 48%) !default;
$color-warning-400:                 hsl(59, 92%, 48%) !default;
$color-warning-500:                 $color-warning-base !default;
$color-warning-600:                 hsl(59, 92%, 48%) !default;
$color-warning-700:                 hsl(59, 92%, 48%) !default;
$color-warning-800:                 hsl(59, 92%, 48%) !default;
$color-warning-900:                 hsl(59, 92%, 48%) !default;


// Negative base
$color-negative-base:               hsl(0, 83%, 42%) !default;

// Negative shades
$color-negative-100:                hsl(0, 100%, 77%) !default;
$color-negative-200:                hsl(0, 92%, 58%) !default;
$color-negative-300:                hsl(0, 83%, 50%) !default;
$color-negative-400:                hsl(0, 85%, 45%) !default;
$color-negative-500:                $color-negative-base !default;
$color-negative-600:                hsl(0, 87%, 33%) !default;
$color-negative-700:                hsl(0, 98%, 22%) !default;
$color-negative-800:                hsl(0, 97%, 15%) !default;
$color-negative-900:                hsl(0, 100%, 11%) !default;