// Sizing - Module
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Size - Topic
// ––––––––––––––––––––––

// Base
$size-base:                      1.6rem !default;

// Scale
$size-1:                         $size-base * 0.25 !default;
$size-2:                         $size-base * 0.50 !default;
$size-3:                         $size-base * 0.75 !default;
$size-4:                         $size-base * 1.00 !default;
$size-5:                         $size-base * 1.50 !default;
$size-6:                         $size-base * 2.00 !default;
$size-7:                         $size-base * 3.00 !default;
$size-8:                         $size-base * 4.00 !default;
$size-9:                         $size-base * 6.00 !default;
$size-10:                        $size-base * 8.00 !default;
$size-11:                        $size-base * 12.0 !default;
$size-12:                        $size-base * 16.0 !default;
$size-13:                        $size-base * 24.0 !default;
$size-14:                        $size-base * 32.0 !default;
$size-15:                        $size-base * 40.0 !default;
$size-16:                        $size-base * 48.0 !default;

// Border - Topic 
// –––––––––––––––

// Steps
$border-1:                         0.1rem !default;
$border-2:                         0.2rem !default;
$border-3:                         0.3rem !default;
$border-4:                         0.4rem !default;
$border-5:                         0.5rem !default;
$border-6:                         0.6rem !default;
$border-7:                         0.7rem !default;
$border-8:                         0.8rem !default;
$border-9:                         0.9rem !default;
$border-10:                        1.0rem !default;

// Border Radius - Topic 
// –––––––––––––––––––––

// Border radii
$border-radius-rounded:            0.5rem !default;
$border-radius-pill:               100vw !default;
$border-radius-round:              50% !default;