// Spacing - Module
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Base
$spacing-base:                      1.6rem !default;

// Scale
$spacing-1:                         $spacing-base * 0.25 !default;
$spacing-2:                         $spacing-base * 0.50 !default;
$spacing-3:                         $spacing-base * 0.75 !default;
$spacing-4:                         $spacing-base * 1.00 !default;
$spacing-5:                         $spacing-base * 1.50 !default;
$spacing-6:                         $spacing-base * 2.00 !default;
$spacing-7:                         $spacing-base * 3.00 !default;
$spacing-8:                         $spacing-base * 4.00 !default;
$spacing-9:                         $spacing-base * 6.00 !default;
$spacing-10:                        $spacing-base * 8.00 !default;
$spacing-11:                        $spacing-base * 12.0 !default;
$spacing-12:                        $spacing-base * 16.0 !default;
$spacing-13:                        $spacing-base * 24.0 !default;
$spacing-14:                        $spacing-base * 32.0 !default;
$spacing-15:                        $spacing-base * 40.0 !default;
$spacing-15:                        $spacing-base * 48.0 !default;
